* {

}
ul {
  list-style: none;
}
li {
  display: inline-block;
  width: 300px;
}
img {
  width: 250px;
	height: 250px;
	display: inline-block;
}

#chart_container {
  width: 800px;
  height: 400px;
}

canvas {

}
